extends layout

block content
  div.main
    div.container
      h1 Fantasy Twitter
      div.left
        p= league.name
        p= league.id
        p= league.size
        p= league.duration
        div
          each player in league.players
            li
              a(href=player.url)= player.name
      div.right
        ul#users
  script(src='/javascripts/draft.js')